.form-box {
    min-width: 100%;
    height: 100vh;
    border: dotted #f55a00 1vw;
    /* border: 1px solid red; */
    margin: 0vw;
    padding: 2vw;
    position: relative;
    /* position:relative for .prevBtn and .nextBtn position:absolute; */
  }
  .form-box label{
    font-size: 35px;
  text-align: center;
  color: #f55a00;
  margin: 2pc;
  margin-top: 2pc;
  margin-bottom: 2pc;
}
.form-box input{
    font-size: 35px;
  text-align: center;
  color: #f55a00;
  margin: 2pc;
  margin-top: 2pc;
  margin-bottom: 2pc;
}
.form-box textarea{
    font-size: 35px;
  text-align: center;
  color: #f55a00;
  margin: 2pc;
  margin-top: 2pc;
  margin-bottom: 2pc;
}
.form-box button{
    font-size: 35px;
  text-align: center;
  color: #f1ecea;
  background: #f55a00;
  margin: 0 0 2pc 2pc;
  margin-top: 2pc;
  margin-bottom: 2pc;
}
  